@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,200;0,300;0,500;0,900;1,200;1,500;1,900&display=swap');
.divider{
    padding:20px;
}
.artworkgallery-wrapper {
    margin:20px;
    column-count: 3;
    column-gap: 1em;
    max-width: 100%;
    padding: 0 4px;
}
  
.artworkgallery {
    break-inside: avoid;
    margin-bottom: 1em;
    width: 100%;
    position:relative;
    cursor:pointer;
}
  
.artworkgallery img {
    width: 100%;
    height: auto;
    display: block;
}
.artworkgallery .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FFF9F960; 
    color: #FFF9F9;
    text-shadow: #00376A 1px 0 10px;
    font-family: 'Noto Serif',serif;
    font-size: 20px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
}
  
.artworkgallery:hover .overlay {
    opacity: 1;
}

.modal {
    position: fixed;
    z-index: 1000;
    max-height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 17, 37, 0.6); 
    align-items: center; 
    justify-content: center; 
    overflow: auto; 
}
  
.modal-images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-content-wrapper {
    position: relative;
    max-height: 600px;
    overflow: auto;
}

.modal-content {
    width: auto;
    height: auto; 
    padding-bottom:10px;
    margin:20px;
}
  
.close {
    position: fixed;
    z-index: 1010; 
    top:20px;
    right:20px;
    color: #FFF9F9;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    margin: auto;
  }
  
.close:hover,.close:focus {
    color:#FFF9F9;
    text-decoration: none;
    cursor: pointer;
  }
.caption-wrapper {
    text-align: center;
    background-color: #FEF9F920;
    display: flex;
    flex-direction: column;
}
.caption {
    padding: 10px;;
    text-align: left;
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    color: #FFF9F9;
    text-shadow: #00376A 1px 0 10px;;
  }  
.description{
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    color: #FFF9F9;
}

@media screen and (max-width: 600px) {
    .artworkgallery-wrapper {
        column-count: 1;
        margin: 10px;
        padding: 0 2px;
    }

    .artworkgallery .overlay {
        font-size: 16px;
    }

    .modal {
        width: 100%;
        left: 0;
        top: 0;
        max-height: 100%;
        transform: none;
    }

    .modal-content-wrapper {
        max-height: 80vh; /* 80% of the viewport height */
    }

    .modal-content {
        margin: 10px;
        padding-bottom: 5px;
    }

    .close {
        top: 10px;
        right: 10px;
        font-size: 25px;
    }

    .caption, .description {
        font-size: 12px;
        padding: 8px;
    }
}

