@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.headbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-top: 10px;
  align-items: start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0));
}


.headbar {
  background-color: transparent;
  text-align: center;
  display: flex;
  gap: 20px;
  align-items: baseline;
  color: #56606A;

}
.headbar:hover {
  color: #001125;
  transition: color 0.5s ease;
} 

.title {
  color: #001125;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
}
.titlesc {
  color: #001125;
  font-family: "Noto Serif SC, serif";
  font-weight: 700;
  font-size: 20px;
}
.title:hover {
  background-color: transparent !important; 
  color:#001125 !important;
}
.menubar {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-right: 40px;
}
.menubarcol {
  display: block;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.subtitle {
  font-weight: 400;
  text-decoration: none;
  color: #56606A;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}
.subtitlesc {
  font-family: "Noto Serif SC", serif;
}

.subtitlesc:hover {
  transition: all 0.2s ease;
  color: #001125;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  text-decoration-color: #001125;
}

.subtitle:hover {
  transition: all 0.2s ease;
  color: #001125;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  text-decoration-color: #001125;
}

@media screen and (max-width: 800px) {
  .menubar {
    flex-direction: column;
    align-items: flex-start;
  }
  .menubarcol {
    padding: 5px;
  }
  .title,
  .titlesc {
    font-size: 20px;
  }
  .subtitlesc {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .headbar-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .menubar {
    display: flex;
    width: 100%;
  }
  .title,
  .titlesc {
    font-size: 18px;
  }
  .subtitlesc {
    font-size: 12px;
  }
}
