.headbar-wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #001125;
    padding: 20px;
    align-items: center;
  }
  .headbar{
    text-align: center;
    color:#FEF9F9;
    display:flex;
    gap:20px;
    align-items: baseline;
  }
  .headbar:hover{
    color:#FAE967;
    transition: color 0.5s ease;
  }
  
  .title{
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .titlesc{
    font-family: 'Noto Serif SC, serif';
    font-weight: 700;
    font-size: 20px;
  }
  .menubar{
    display:flex;
    justify-content: center;
    gap:40px;
  }
  .menubarcol{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  
  .subtitlesc{
    font-family: 'Noto Serif SC', serif;
    font-weight: 400;
    text-decoration: none;
    color: #FEF9F9;
    padding: 10px;
    text-transform: uppercase;
  }
  
  .subtitlesc:hover{
    transition:all 0.2s ease;
    color:#FAE967;
    text-decoration:underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    text-decoration-color: #FAE967;
  }

@media screen and (max-width: 800px) {
  .menubar {
    flex-direction: column;
    align-items: flex-start;
  }
  .menubarcol {
    padding: 5px;
  }
  .title, .titlesc {
    font-size: 20px; 
  }
  .subtitlesc {
    font-size: 14px; 
  }
}

@media screen and (max-width: 600px) {
  .headbar-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .menubar {
    display: flex;
    width: 100%;
  }
  .title, .titlesc {
    font-size: 18px; 
  }
  .subtitlesc {
    font-size: 12px; 
  }
}


