@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,200;0,300;0,500;0,900;1,200;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.generaldes{
  font-family:'Playfair Display',serif;
  font-size: 16px;
  text-indent: 2em;
}
.generaldesita{
  font-family: 'Playfair Display',serif;
  font-size: 16px;
  font-style: italic;
}
.extra-indent {
  padding-left: 2em; 
}
.generaldessc{
  font-family: 'Noto Serif SC',serif;
  font-size: 16px;
}

.profilepic{
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:450px;
  height:auto;
}
.profilecol{
  background-color: #FEF9F9;
  font-family: 'Playfair Display', serif;
  color: #001125;
}
.des-wrapper{
  display:flex;
  flex-direction: column;
  margin:40px;
  gap:50px;
}
.header{
  font-family: 'Playfair Display',serif;
  font-size: 30px;
  color: #001125;
}
.contact {
  padding: 20px;
  background-color: #C0BAFF;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  display: block; /* Add this to ensure the image is displayed */
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Add this to show it's clickable */
}

/* Add hover effect for better user experience */
.icon-wrapper:hover {
  opacity: 0.8;
}

a:-webkit-any-link {
  text-decoration: none;
}


/* font-family: 'Noto Serif SC', serif; */
/* font-family: 'Noto Serif', serif; */
@media screen and (max-width:600px) {
  .profilepic{
    width:300px;
    height:auto;
  }
  .profilecol{
    display:block;
}
}


