@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.generaldes {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  text-indent: 2em;
}
.generaldesita {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-style: italic;
}
.extra-indent {
  padding-left: 2em;
}
.generaldessc {
  font-family: "Playfair Display", serif;
  font-size: 16px;
}

.profilepic {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: auto;
}
.profilecol {
  font-family: "Playfair Display", serif;
  color: #001125;
}
.des-wrapper {
  display: flex;
  flex-direction: column;
  margin: 40px;
  gap: 50px;
}
.contact-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.header {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #001125;
}
.headersc{
  font-family: "Noto Serif SC", serif;
}
.contact {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  display: block;
  cursor: grab;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .profilepic {
    width: 300px;
    height: auto;
  }
  .profilecol {
    display: block;
  }
  .extra-indent{
    padding-left: 0;
  }
  .des-wrapper{
    margin: 20px;
  }
  .generaldes{
    text-indent: 0;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
