@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.blog-container {
  margin-bottom: 20px;
}
.blog-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 100px;
}
.blog-gallery-wrapper {
  column-count: 3;
  column-gap: 1em;
  max-width: 100%;
  padding: 20px 4px;
}

.blog-gallery {
  break-inside: avoid;
  margin-bottom: 1em;
  width: 100%;
  cursor: pointer;
}

.blog-image-container {
  position: relative;
}

.blog-gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.blog-image-container .blog-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  backdrop-filter: blur(15px);
  color: #ffffff;
  text-shadow: #00376a 1px 0 10px;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.blog-image-container:hover .blog-overlay {
  opacity: 1;
}

.blog-info {
  padding: 10px 5px;
}

.blog-title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1.1em;
  margin: 0 0 5px 0;
  color: black;
}

.blog-date {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 0.8em;
  color: #666;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .blog-gallery-wrapper {
    column-count: 1;
    margin: 10px;
    padding: 0 2px;
  }

  .blog-image-container .blog-overlay {
    font-size: 12px;
  }
}
